<div class="border-bottom">
             <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class='container-fluid' style="padding: 20px 30px;">
                    <div class="row">
                        <div class="col-lg-8"> 
                            <h3>Dashboards</h3>
                        </div>
                        <div class="col-lg-4">
                             <button type="button" class="btn btn-sm btn-primary pull-right"> Add Dashboard</button>
                        </div>
                    </div>
                </div>
            </nav>
</div>
    
<div class="wrapper wrapper-content" style="padding: 20px 30px" >
            <div class="row">
                <div class="col-lg-8">
                    <rd-widget>
                        <rd-widget-body >
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 pull-right">
                                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control" [(ngModel)]='listFilter'> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span>  </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped" 
                                        *ngIf='dashboards && dashboards.length'>
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Creation date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor='let dashboard of dashboards | dashboardFilter:listFilter'>
                                                    <td><input icheck type="checkbox" [(ngModel)]='dashboard.id'></td>
                                                    <td>{{dashboard.name}}</td>
                                                    <td>{{dashboard.creationDate }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>         
                        </rd-widget-body>
                    </rd-widget>
                </div>
            </div>
</div>