<div class="border-bottom">
             <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class='container-fluid' style="padding: 20px 30px;">
                    <div class="row">
                        <div class="col-lg-8"> 
                           <div id="dashboard-selector" class="dropdown transparentbar" style="z-index:4">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                               Dashboard 
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let dashboard of dashboards" > 
                                        <a (click)="onChangeDashboard(dashboard)">{{dashboard.name}}</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a [routerLink]="['/dashboards']">Manage dashboards</a></li>
                                </ul> 
                            </div>
                        </div>
                        <div class="col-lg-4">
                             <button [routerLink]="['/add-dashlet']" type="button" class="btn btn-sm btn-primary pull-right">Add Dashlet</button>
                        </div> 
                    </div>
                </div>
            </nav>
</div>

<div  style="padding: 20px 30px" >
    <div class="wrapper wrapper-content">
        <div class="row">
            <div *ngFor="let dashlet of selectedDashlets;">
                <div  class="col-lg-{{dashlet.size}}">
                       <rd-widget>
                            <rd-widget-header *ngIf="dashlet.title">
                            <h5>{{dashlet.title}}</h5>
                            </rd-widget-header>
                            <rd-widget-body>
                                <div *ngIf="dashlet.category !== 'chart'" [innerHTML]="dashlet.content"></div>
                                <div *ngIf="dashlet.category === 'chart'" width=325 height=315 style='width:325px;height:315px;margin:0px auto;'>
                                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                                                (chartHover)="chartHovered($event)"
                                                (chartClick)="chartClicked($event)"></canvas>
                                </div>
                                <div *ngIf="dashlet.category === 'chart-2'" width=650 height=325 style='width:650px;height:325px;margin:0px auto;'>
                                    <canvas baseChart
                                            [datasets]="barChartData"
                                            [labels]="barChartLabels"
                                            [options]="barChartOptions"
                                            [legend]="barChartLegend"
                                            [chartType]="barChartType"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"></canvas>
                                </div>
                            </rd-widget-body>
                        </rd-widget>
                </div>
            </div>
        </div>
    </div>
</div>