                    <rd-widget>
                            <rd-widget-header><h5>Message to All Recipients</h5>
                            </rd-widget-header>
                            <rd-widget-body>
                                <div [formGroup]="emailForm" class="form-horizontal">
                                    <fieldset>
                                        <div class="control-group form-group">
                                            <div class="controls col-sm-8">
                                                <input type="text" name="emailSubject" formControlName="emailSubject" placeholder="Please sign" class="required form-control" autofocus="">
                                            </div>
                                        </div>
                                        <div class="control-group form-group">
                                            <div class="controls col-sm-8">
                                                <textarea name="message" id="emailContent" formControlName="emailContent" placeholder="Enter message" class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>                                  
                                    </fieldset>
                                 </div>         
                            </rd-widget-body>
                    </rd-widget>