<div class="board board-inner" id="status-buttons">
    <ul class="nav nav-tabs sign-navbar" id="myTab">
        <div class="liner"></div>
                    
        <li  [ngClass]="{'active' : isPrepareStep()}">
            <a title="prepare">
                <span class="round-tabs one">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
            </a>
        </li>

         <li [ngClass]="{'active' : isMarkAndSendStep()}">
            <a title="send">
                <span class="round-tabs two">
                    <i class="glyphicon glyphicon-tasks"></i>
                </span> 
            </a>
        </li>

        <li [ngClass]="{'active' : isCompletedStep()}">
            <a title="completed">
                <span class="round-tabs three">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
            </a>
        </li>
                
    </ul>
</div>