<div class="border-bottom">
             <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class='container-fluid' style="padding: 20px 30px;">
                    <div class="row">
                        <div class="col-lg-8"> 
                            <h3>Prepare & Send a document</h3>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a>Manage contracts</a>
                                </li>
                                <li class="active">
                                    <strong>Prepare document</strong>
                                </li>
                            </ol>
                        </div>
                        <div class="col-lg-4">
                             
                        </div>
                    </div>
                </div>
            </nav>
</div>
<form novalidate (ngSubmit)="onSubmit(markDocumentForm)"> <!--[formGroup]="signDocumentForm">!-->

    <div class="wrapper wrapper-content" style="padding: 20px 30px" >
                <div class="row">
                    <div class="col-lg-8">
                        <prepare-navbar></prepare-navbar>
                    </div>
                </div>
    </div>

    <div class="wrapper wrapper-content" style="padding: 20px 30px" >
                <div class="row">
                    <div class="col-lg-8">
                        <document-viewer></document-viewer>
                    </div>
                    <div class="col-lg-2">
                        <div class="dropdown" style="z-index:4">
                            <button class="btn btn-default dropdown-toggle wrapper-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                               {{selectedRecipient?.name}}
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let recipient of recipients" > 
                                        <a (click)="onChangeRecipient(recipient)">{{recipient.name}}</a>
                                    </li>
                                </ul> 
                            </div>
                    </div>
                </div>
    </div>

    <div class="wrapper row form-group text-right">
                    <div class="col-lg-8">
                        <button [routerLink]="['/prepare']" class="btn btn-outline-rounded btn-default"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                        <button class="btn btn-success btn-outline-rounded" (click)="onSubmit(markDocumentForm)"><span style="margin-right:10px;" class="glyphicon glyphicon-envelope"></span> Send </button>
                    </div>
    </div>
</form>